# Ignorar o ambiente virtual local (caso exista)
.venv/
venv/

# Ignorar arquivos de cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar arquivos e pastas de IDEs
.idea/
.vscode/
*.swp

# Ignorar builds locais
build/
dist/
*.egg-info/

# Ignorar arquivos do sistema operacional
.DS_Store
Thumbs.db

# Ignorar arquivos de logs
*.log

# Ignorar o git
.git
.gitignore

# Se você usa Docker Compose local
docker-compo
